body {
    font-family: 'Press Start 2P', serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#game {
    width: 100vw;
}

.description {
    font-size: 20px;
    font-family: monospace;
    text-align: center;
}

@media (min-width:320px) and (orientation:portrait) {
    #game {
        height: 40vh;
    }
}

@media (min-width:1025px) {
    #game {
        height: 80vh;
    }
}
